body {
    background-color: Lavender;
}

.container {
    font-family: monospace;
    text-align: center;
}

fieldset {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    overflow: hidden;
}